<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236484354616-nsbc7r260878a9jt3cu8a7ep4pv2ehfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236484354616-nsbc7r260878a9jt3cu8a7ep4pv2ehfj</string>
	<key>API_KEY</key>
	<string>AIzaSyBLSMT5lDGO5K6dEA-ya6YQ90h_aJKs-Gw</string>
	<key>GCM_SENDER_ID</key>
	<string>236484354616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.suxoyZakon</string>
	<key>PROJECT_ID</key>
	<string>suxoy-zakon</string>
	<key>STORAGE_BUCKET</key>
	<string>suxoy-zakon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236484354616:ios:cb24172a2a45610b1dbccd</string>
</dict>
</plist>